*{
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
}
.bod{
	width: 70%;
	margin: 0 auto;
}
.top{
	height: 500px;
	background-image:url(../img/KONG-template_01.png);
}
.logo{
	margin-top: 40px;
    margin-left: 100px;
    float: left;
    }
.font{
    	font-family:"微软雅黑";
    	font-size: 40px;
}
.menu{
	float: right;
	margin-top: 40px;
	margin-right: 100px;
}
.dropmenu{
	display: none;
	float: left;
	position: absolute;
   
}
.dropmenu li a{
	text-decoration: none;
	font-size: 12px;
	color: white;
}
.dropmenu li a:hover{
  color: black;
}
.menu:hover .dropmenu{
	display: block;
}
.person_left{
	clear: both;
	position: relative;
	top: 10%;
	left: 15%;
}
.person_right{
	position: relative;
	top: -20%;
	left: 40%;
}
.person_name{
	padding-left:30px ;	
	font-size: 50px;
	font-family: "arial narrow";
	color: white;
	padding-bottom:50px  ;
}.person_Ename{
	padding-left:10px ;
	font-size: 16px;
	font-family: "微软雅黑";
}
.wapp_top{
	background-color: white;
	
}
.wapp_top p{
	text-align:center;
	font-size: 20px;
}
.wapp_top img{
	padding-left: 37%;
}
.word1{
	width: 60%;
	display: none;
	margin: 0 auto;
}
.wapp_mid{
	background-color:#eeeeee;
	
}
.wapp_mid p{
	text-align:center;
	font-size: 20px;
}
.wapp_mid img{
	padding-left: 37%;
}
.word2{
	width: 60%;
	margin: 0 auto;
	display: none;
}

.wapp_end{
	height: 500px;
	background-image: url(../img/footerbg.png);
}
.wapp_end p{
	text-align:center;
	font-size: 20px;
}
.img1{
	padding-left: 37%;
}
.wapp_end ul{
	width: 30%;
	margin: 0 auto;
}
.wapp_end li{
	float: left;
	padding-left:36px ;
}
.photo{
	clear: both;
	padding-top: 50px;
	margin-left: 40%;
}
.footer{
	height: 67px;
	width: 50%;
	background-color: white;
	margin: 0 auto;
}
.footer li{
	float: left;
	padding-left:50px ;
}
.con{
	text-align: center;
	font-size: 20px;
}

.copy{
	border-top:solid 1px silver ;
	clear: both;
	font-size: 12px;
	color: gray;
	padding-left:120px ;
}
.pic1{
				display: none;
				position: absolute;
				float: left;
} 
.contect li{
	float: left;
}
.contect li:hover .pic1{
				display: block;
}




